:root {
  --gray: rgb(172, 172, 172);
}

html, body {
  padding: 0px;
  margin: 0;

  scroll-behavior: smooth;
  color: var(--gray);
}

html, body, input {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
}

body {
  background-color: rgb(50, 0, 90);
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin: 20px 0 0 0;
}

::selection {
  background-color: #87ddff;
}

::-moz-selection {
  background-color:  #91e0ff;
}

form {
  margin: 0;
  padding: 0;
}

label {
  margin: 15px 0px;
}

input {
  background-color: transparent;
  border: 1px solid var(--gray);
  outline: none;
  padding: 15px;
  width: 80%;
  text-align: center;
  color: var(--gray);
  border-radius: 5px;
}

input[type=submit] {
  background-color: rgba(98, 58, 151, 0.76);
  border: none;
  outline: none;
  width: 50%;
  text-align: center;
  color: var(--gray);
  border-radius: 10px;
  margin: 20px 0px;
}

input[type=submit]:hover {
  cursor: pointer;
  background-color: rgba(98, 58, 151, 0.52);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.centered {
  width: 100%;
  display: flex;
  justify-content: center;
}

.arrow i {
  margin-left: 10px;
  margin-top: 10px;
  color: rgb(121, 216, 233);
}

/*Leaderboard*/
#values {
  padding: 10px;
  margin: 10px;
}

.card { 
  text-align: center;
  padding: 10px;
  border-top: 1px solid rgba(89, 0, 255, 0.2);
  border-bottom: 1px solid rgba(89, 0, 255, 0.2);
}